# Конфигурация вебхуков
webhook {
    # Порт для сервера обработки вебхуков
    port = 443
    # Базовый url для приёма вебхуков
    base = "/webhook/:name"
    # Хост для прослушивания
    host = "0.0.0.0"
    # Конфигурация ssl для запуска webhook сервера
    #ssl {
    #    # Порт ssl сервера
    #    port = 8443
    #    # Протоколы
    #    protocols = ["TLSv1.3", "TLSv1.2"]

    #    # Тип SSL: X.509, PKCS12
    #    type = "PKCS12"
    #    # Путь до сертификата
    #    cert_path = server.p12
    #    # Пароль от сертификата
    #    cert_password = changeit
    #    # Путь до доверенного сертификата
    #    trust_cert_path = trust.pem
    #    # Пароль от доверенного сертификата
    #    trust_cert_password = changeit

    #    # Тип SSL: X.509, PKCS12
    #    type = "X.509"
    #    # Путь до сертификата
    #    cert_path = server.pem
    #    # Путь до приватного ключа ключа
    #    key_path = private.pem
    #    # Пароль от приватного ключа
    #    key_password = "change_it"
    #}
}

# Конфигурация каналов взаимодействия
channels {
    # Список каналов
    list {
        # Конфигурация канала channel_id
        channel_id {
            # Тип канала - бот - телеграм
            type = "telegram_bot"
            # URL до вебхука
            webhook_url = "https://asky.black-hole.team/webhook/channel_id"
            # Признак необходимости использовать вебхук
            use_webhook = false
            # Параметры канала
            params {
                # Токен бота
                token = "<BOT_TOKEN>"
                # Максимальный размер файла - 50МБ
                max_file_size = 50MB
            }
        }
    }
}

# Конфигурация хабов обработки обращений
hub {
    # Шаблон наименования субъекта обращения
    subject_name_pattern = "#${userId}-${channelId}"
    # Таймаут удаления топика после закрытия тикета в формате 1d, false - если удалять топик не нужно.
    delete_topic_timeout = false
    # Временная зона в которой отображается время в хабах
    timezone = "Europe/Moscow"
}

# Конфигурация обработки сообщений
handling {
    # Количество потоков для обработки сообщений или -1, если значение должно принять количество потоков системы
    handling_threads_count = -1
    # Конфигурация маршрутизации обращений из одного канала в другой
    routing {
        # Канал channel_id позволяет обрабатывать свои обращения каналу channel_id (т.е. сам себе)
        channel_id = [
            "channel_id"
        ]
    }
    # Конфигурация ролей пользователей хаба
    roles {
        # Конфигурация пользователей канала channel_id
        channel_id {
            # Формат: ID = "ROLE"
            # Доступные роли: "ADMIN", "OPERATOR", "COMMON", "BAN"
            974344494 = "ADMIN"

            # Дефолтная роль для всех остальных
            "*" = "COMMON"
        }
    }
}

# Конфигурация соединения с базой данных
db {
    # URL соединения
    url = "jdbc:postgresql://service-postgresql.black-hole.team/asky"
    # Имя пользователя
    user = "asky"
    # Пароль
    password = "changeit"
    # Максимальный размер пула
    max_pool_size = 50
    # Размер пакета отправляемых данных
    batch_size = 100
    # Драйвер базы данных
    driver = "org.postgresql.Driver"
}

# Конфигурация redis
redis {
    # Хост соединения с redis
    host = "service-redis.black-hole.team"
    # Порт соединения с redis
    port = 6379
}